# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
.gitignore
basecamp.code-workspace
*.DS_Store
.gitignore

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/
/wp-content/themes/basecamp/library/
/wp-content/themes/basecamp/languages/
/wp-content/themes/basecamp/templates/
/wp-content/themes/basecamp/not used/
/wp-content/themes/basecamp/inc/*archive/
/wp-content/themes/basecamp/inc/examples/
/wp-content/themes/basecamp/inc/woocommerce/



# Example plugin
/wp-content/plugins/hello.php
/wp-content/plugins/classic-editor/
/wp-content/plugins/media-library-plus/
/wp-content/plugins/menus/
/wp-content/plugins/cookies-and-content-security-policy/
/wp-content/plugins/faqs/

/wp-content/themes/basecamp/inc/admin/assets/

# Uploads
/wp-content/uploads/
/wp-content/mu-pluginsX/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes